@font-face {
  font-family: 'Silk';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Bigosih-Highpick.woff2') format('woff2'),
       url('/fonts/Bigosih-Highpick.woff') format('woff'),
       url('/fonts/Bigosih-Highpick.ttf') format('truetype');
}
@font-face {
  font-family: 'Silk';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Bigosih-Highpick.woff2') format('woff2'),
       url('/fonts/Bigosih-Highpick.woff') format('woff'),
       url('/fonts/Bigosih-Highpick.ttf') format('truetype');
}