/* GLOBAL CSS */

@import '../styles/global/reset.css';
@import '../styles/global/global.css';
@import '../styles/global/variables.css';
@import '../styles/global/fonts.css';

/* CUBE CSS */

@import '../styles/composition/composition.css';
@import '../styles/utility/utility.css';
@import '../styles/blocks/blocks.css';
@import '../styles/exceptions/exceptions.css';

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100vw;
  overflow: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background-color: #000000;
  overflow: none;
}
