---
import Layout from '../layouts/Layout.astro';
import '~/styles/styles.css';
---

<Layout title="jz">
  <main>
    <article class="region prose wrapper hero">
      <h2>Jan Zoltkowski</h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>
            <a href="https://github.com/jonzhep" target="_blank">Github</a>
          </h3>
          <h3>
            <a href="https://twitter.com/abniico" target="_blank">Twitter</a>
          </h3>
          <h3>
            <a href="https://www.linkedin.com/in/janz6/" target="_blank"
              >Linkedin</a>
          </h3>
          <h3><a href="https://t.me/abniico" target="_blank">Telegram</a></h3>
          <h3>
            <a href="https://discordapp.com/users/shep#0666" target="_blank"
              >Discord</a>
          </h3>
          <h3>
            <a
              href="https://open.spotify.com/artist/5OtwCMUtOJeOPhxtNPtGCb?si=WIdoaec8TImdgGC-WeaSVw"
              target="_blank">Spotify</a>
          </h3>
        </li>
      </ul>
    </article>
  </main>
</Layout>
